@import './calendar/Calendar.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

.focus {
  color: $red;
  background-color: white;
}